.h1, h1 {
    font-family: 'Julius Sans One', sans-serif !important;
}

.h2, h2 {
    font-family: 'Open sans', sans-serif;
    margin-bottom: 20px !important;
}

header > p {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

hr { 
  border-top: 1px solid #8c8b8b !important;
  padding: 6px;
} 

.flip-color{
    background-color: #333 !important;
    color: white;
}

h1.large-heading {
    font-size: 54px;
    margin-bottom: 20px;
}

.lead {
    font-size: 21px;
}

header .scroll {
    color: white;
    font-size: 2em;
}

header .scroll:hover {
    color: #aaaaaa;
}

header .scroll:focus {
    color: #aaaaaa;
}

.scroll {
    color: #333;
    font-size: 2em;
}

header{
    height: 100vh;
}

.photo-panel {
    height: 100vh;
}

.parallax {
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

}

footer{
    height: 100vh;
}

.main-content {
    font-family: 'Open sans', sans-serif;
}


.edmonton-skyline {
    background-image: url("../media/Skyline_Edmonton_Alberta_Canada_04A.jpg");
}

.computer-code {
    background-image: url("../media/js-code.jpg");
}

.content-panel {
    background: white;
    margin: auto;
    font-family: 'Open sans', sans-serif;
}

header div.header-text {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 7%;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

header div.header-text h2 {
    font-size: 3em;
    font-family: 'Julius Sans One', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
    font-family: 'Julius Sans One', sans-serif;
}

nav > h1 {
    text-align: left;
    color: black;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 2em;
    margin: 10px;
    display: inline-block;
}

nav > ul {
    float: right;
    padding: 10px 40px;
    margin-right: 100px;
}

nav > ul a {
    color: #333;
}

nav > ul a:hover {
    color: #000;
}

nav > ul a:active, nav > ul a:focus, nav > ul a:visited {
    color: #333 !important;
}

.content p{
    margin-bottom: 20px;
}

.content {
    padding-bottom: 50px;
}

.icon {
    display: inline-block;
    margin-right: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.icon-linkedin {
    background: url("../media/icons/32px/linkedin.png")
}

.icon-email {
    background: url("../media/icons/32px/email.png")
}

.icon-github {
    background: url("../media/icons/32px/sharethis.png")
}

.icon-www {
    background: url("../media/icons/32px/stackoverflow.png")
}

ul.links {
    display: inline-block;
    margin: 0 20px;
    width: 100%;
}

ul.links li{
    margin: 20px 0;
    text-align: center;
}

ul.links li a span {
     vertical-align: middle;
}

.experience h3 {
    margin-top: 10px;
}

.experience h4 {
    font-weight: 700;
}

.flip-color a {
    color: #74a9d8;
}

.flip-color a:hover, .experience a:focus {
    color: #3884c7;
}


.contact li {
    margin-bottom: 20px;
    min-width: 250px;
}

.contact a span {
    vertical-align: middle;
}

.about h2 {
    margin-top: 0;
}

.portrait {
    background-image: url("../media/ryanhamacher.jpg");
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-position: center center;
    background-size: 130%;
    border: 5px solid #333;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    overflow: hidden;
    transition: all .3s linear;
    margin: 10px auto 20px;
    position: relative;
}


@media (max-width: 992px) {
    .portrait {
        width: 300px;
        height: 300px;
    }

    .info {
        text-align: center;
    }

    body .content{
        font-size: 1.5em !important;
    }

    .parallax {
        background-attachment: scroll;
    }
}

span.stars {
    float: right;
}

#abilities ul > li span.fa {
    color: #cbcdcd;
    text-align: right;
}

#abilities {
    overflow: hidden;
}

    #abilities ul > li span.fa:nth-child(2) {
        transform: translateX(100vw);
        transition: all 1.5s ease-in-out;
    }

    #abilities ul > li span.fa.slidein:nth-child(2) {
        transform: translateX(0vw);
        transition: all 1.1s ease-in-out;
    }

    #abilities ul > li span.fa:nth-child(3) {
        transform: translateX(100vw);
        transition: all 1.4s ease-in-out;
    }

    #abilities ul > li span.fa.slidein:nth-child(3) {
        transform: translateX(0vw);
        transition: all 1.2s ease-in-out;
    }

    #abilities ul > li span.fa:nth-child(4) {
        transform: translateX(100vw);
        transition: all 1.3s ease-in-out;
    }

    #abilities ul > li span.fa.slidein:nth-child(4) {
        transform: translateX(0vw);
        transition: all 1.3s ease-in-out;
    }

    #abilities ul > li span.fa:nth-child(5) {
        transform: translateX(100vw);
        transition: all 1.2s ease-in-out;
    }

    #abilities ul > li span.fa.slidein:nth-child(5) {
        transform: translateX(0vw);
        transition: all 1.4s ease-in-out;
    }

    #abilities ul > li span.fa:nth-child(6) {
        transform: translateX(100vw);
        transition: all 1.1s ease-in-out;
    }

    #abilities ul > li span.fa.slidein:nth-child(6) {
        transform: translateX(0vw);
        transition: all 1.5s ease-in-out;
    }


.skill-header {
    text-align: center;
}

@keyframes slidein {
  to { transform: translateY(0); }
}

#abilities ul > li span.fa.filled {
    color: #333;
}

#abilities {
    padding-bottom: 20px;
}

#abilities li {
    margin: 5px 0;
}

#abilities h3 {
    margin-top: 0;
}

.nopadding{
    padding: 0 !important;
}

.portrait.zoomout {
  background-size: 100%;
}

#code-carousel{
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    border: 5px solid #333;
    border-radius: 10px;
    padding: 20px 0;
}

#experience-container:after {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 40px #333;
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
}

.btn-group-sm > .btn, .btn-sm.icon {
    padding: 7px 10px; 
}
